.linkButton {
  background-color: var(--raspberryRed);
  border: none;
  color: var(--white);
  padding-block: var(--space-xs);
  padding-inline: var(--space-sm);
  border-radius: 30px;
  font-size: var(--fontSize-16);
  font-weight: 600;
}

@media screen and (min-width: 1000px) {
  .linkButton {
    padding-block: var(--space-sm);
  }
}
/* 
.linkButton:hover {

} */
