*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Spacing*/

  --space-3xs: 0.296rem; /*4.74px*/
  --space-2xs: 0.444rem; /*7.11px*/
  --space-xs: 0.667rem; /*10.67px*/
  --space-sm: 1rem; /*16px*/
  --space-md: 1.5rem; /*24px*/
  --space-lg: 2.25rem; /*36px*/
  --space-xl: 3.375rem; /*54px*/
  --space-2xl: 5.063rem; /*81px*/
  --space-3xl: 7.594rem; /*121.5px*/

  /*Font size (major second scale: type-scale.com)*/

  --fontSize-11: 0.702rem;
  --fontSize-13: 0.79rem;
  --fontSize-14: 0.889rem;
  --fontSize-16: 1rem;
  --fontSize-18: 1.125rem;
  --fontSize-20: 1.266rem;
  --fontSize-23: 1.424rem;
  --fontSize-26: 1.602rem;
  --fontSize-29: 1.802rem;
  --fontSize-32: 2.027rem;
  --fontSize-36: 2.281rem;
  --fontSize-41: 2.566rem;
  --fontSize-46: 2.887rem;
  --fontSize-52: 3.247rem;
  --fontSize-58: 3.653rem;
  --fontSize-66: 4.11rem;
  --fontSize-74: 4.624rem;
  --fontSize-83: 5.202rem;

  /* font-family: 'Luckiest Guy', cursive;
font-family: 'Poppins', sans-serif; */

  /*Colors*/

  --raspberryRed: #f03a47;
  --limeGreen: #bbd438;
  --lightLimeGreen: #ddea9c;
  --oliveGreen: #3a4310;
  --white: #e4e4e4;
  /* --white: #f8fbeb; */
  --black: #253529;

  /*Others*/

  --box-shadow: 0 3.9px 4.6px rgba(0, 0, 0, 0.08),
    0 12.3px 8.4px rgba(0, 0, 0, 0.056), 0 18.8px 19.2px rgba(0, 0, 0, 0.037),
    0 22px 40px rgba(0, 0, 0, 0.019);
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  /* background-color: var(--lightLimeGreen); */
  overflow-x: hidden;
}
